<!DOCTYPE html>
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="static/css/main.css">
<link rel="stylesheet" href="/static/css/dimmer.min.css">
<link rel="stylesheet" href="/static/css/pace.css">


{% block head   %}{% endblock %}

</head>


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
		AURUM 
      </a>
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class='navbar-brand pull-right'>
		    <strong>{{ active_page }}</strong>
        </a>
    </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            {% set active_page = active_page|default('index') -%}
            
            {% set navigation_bar = [
               ( '/work', 'Working File', 'Working File'),
               ( '/all', 'All Collections', 'All Collections'),
               ( '/create', 'Create Record', 'Create Record'),
               ( '/edit', 'Edit/Delete Record', 'Edit/Delete Record'),
               ( '/upload', 'Upload Collection', 'Upload Collection'), 
               ( '/delete', 'Delete Collection', 'Delete Collection'), 
               ( '/permanent', 'Permanent Collection', 'Permanent Collection'),
               ( '/permanent_exclusion', 'Exclusions', 'Exclusions'),
               ( '/database', 'Import/Export DB', 'Import/Export DB'),
            ] %}
        <ul class="nav navbar-nav navbar-right text-right" style='margin-right:10px'>
            {% for href, id, caption in navigation_bar %}
              <li{% if id == active_page %} class="active"{% endif
              %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
            {% endfor %}
            </ul>


    </div><!-- /.navbar-collapse -->

  </div>
</nav>



{% block main %}
{% endblock %}
<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.dataTables.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/idle-timer.min.js"></script>
<script src="static/js/moment.min.js"</script>
<script src="static/js/moment-timezone.min.js"</script>
<script src="/static/js/dimmer.min.js"></script>
<script src="static/js/moment-timezone-with-data.min.js"</script>
<script src="static/js/base.js"></script>
<script>
    moment().format();
</script>

<script>
    // have to set pace.js options before we load file
    window.paceOptions = {
         ghostTime: 2000,
         maxProgressPerFrame: 25,
         startOnPageLoad: true,
        ajax: {
             trackMethods: ['GET', 'POST', 'DELETE', 'PUT', 'PATCH']
        }
    };

</script>
<script src="/static/js/pace.min.js"></script>

{% block js%}
{% endblock %}



    </body>
</html>

