{% extends 'base.html' %}
{% set active_page = "Create Record" %}
{% block main %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 main" >


		<div class='row'>
            <div class="col-sm-6 col-md-offset-3">
				<div class="panel panel-default">
				   <div class="panel-body">

	<form id='create_record' class='form-horizontal'>
		<div class='input-goup'>
<p class='lead'>Create Record</p>
<p>Select collection(s) or make a new one below. Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>
		</div>
		<div class='input-goup'>
		<select class='form-control input-md' id='collection' name='collection' multiple>
		<select> 

		</div>
		<div class='input-goup'>
			<input name='new_collection' class='form-control input-md' placeholder='(Optional) Name of New Collection' type='text'></input>
		</div>
		<div class='input-goup'>
		<input name='formula_number' class='form-control input-md' placeholder='formula_number' type='text' required></input>
		</div>
		<div class='input-goup'>
		<select name='category' type='text' class='form-control input-md'>
            <option value=1>Category 1 – LB</option>
            <option value=2>Category 2 – Buy</option>
            <option value=3>Category 3 – Sell</option>
            <option value=4>Category 4 – Volatility</option>
        </select>
		</div>
		<div class='input-goup'>
		<input name='formulas' class='form-control input-md' placeholder='Formulas e.g. CU16<14, 6<B<9' type='text'></input>
		</div>
		<div class='input-goup'>
		<input name='Q' type='text' class='form-control input-md' placeholder='Q'></input>
		</div>
		<div class='input-goup'>
		<input name='N' type='text' class='form-control input-md' placeholder='N'></input>
		</div>
		<div class='input-goup'>
		<input name='S' type='text' class='form-control input-md' placeholder='S'></input>
		</div>
		<div class='input-goup'>
		<input name='R' type='text' class='form-control input-md' placeholder='R'></input>
		</div>
		<div class='input-goup'>
		<input name='I' type='text' class='form-control input-md' placeholder='I'></input>
		</div>
		<div class='input-goup'>
		<input name='comments' type='text' class='form-control input-md' placeholder='Comments'></input>
		</div>
		<div class='input-goup'>
			<button class='btn btn-primary form-control input-md' id='submit_create_record'>Submit</button>
		</div>
	</form>
      	</div>
      	</div>
      </div>
      </div>
    </div>
    </div>


{% endblock %}
{% block js %}
<script src="static/js/create.js"></script>
{% endblock %}

