{% extends 'base.html' %}
{% set active_page = 'Import/Export DB' %}

{% block main %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 main" >

		<div class='row'>
            <div class="col-sm-8 col-md-offset-2">
				<div class="panel panel-default">
                    <div class='panel-body'>

                    		<div class='input-goup'>
                                <p class='lead'>Export Database</p>
                    		</div>
                    
                    	<form class='form-horizontal' id='save_database'>
                    		<div class='input-goup'>
                           		<input type="text" class='form-control' placeholder='Full Directory' name="directory" value={{default_save}} />
                    		</div>
                    		<div class='input-goup'>
                         		  <button class='btn btn-success btn-sm' id="submit_save_database">Save Database to Directory</button>
                    		</div>
                            <div id='save_checklist'>
                            </div>
                    	</form>
                </div>
                    </div>
            </div>
        </div>

		<div class='row'>
            <div class="col-sm-8 col-md-offset-2">
				<div class="panel panel-default">
                    <div class='panel-body'>
                		<div class='input-goup'>
                            <p class='lead'>Load Database</p>
                		</div>
                
                      	<form class='form-horizontal' id='load_database'>
                      		<div class='input-goup'>
                             		<input type="text" class='form-control' placeholder='Full Directory' name="directory" value={{default_load}}></input>
                      		</div>
                      		<div class='input-goup'>
                           		  <button class='btn btn-success btn-sm' id='submit_load_database'>Load Database from Directory</button>
                      		</div>
                            <div id='export_checklist'>
                            </div>
                				    <div class="input-group input-group-sm">
                				          <span class="input-group-btn">
                      			        <input type="checkbox" name="overwrite" checked> 
                				      </span>
                        			        <label>Overwrite Existing Collections with the same name</label>
                				    </div>
                				    <div class="input-group input-group-sm">
                				          <span class="input-group-btn">
                      			        <input type="checkbox" name="overwrite_files" checked> 
                				      </span>
                        			        <label>Overwrite Existing Working Files and Snapshots</label>
                				    </div>
                          </div>
                      
                      	</form>
      	        </div>
            </div>
        </div>
		<div class='row'>
            <div class="col-sm-8 col-md-offset-2">
				<div class="panel panel-default">
                    <div class='panel-body'>
                		<div class='input-goup'>
                            <p class='lead'>Delete Database</p>
                		</div>
                		<div class='input-goup'>
                            <button class='btn btn-danger btn-md' id='delete-db' >Delete Database</button>
                		</div>
                    </div>
                </div>
            </div>
    </div>

    </div>
    </div>

{% endblock %}

{% block js %}
<script src="static/js/database.js"></script>
{% endblock %}

