{% extends 'base.html' %}
{% set active_page = 'Delete Collection' %}
{% block main %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 main" >

		<div class='row'>
<br/>
<br/>
<br/>
            <div class="col-sm-6 col-md-offset-3">
				<div class="panel panel-default">
                    <div class='panel-body'>


	<form id='delete_collection' class='form-horizontal'>
		<div class='input-goup'>
    <p class='lead'>Delete a Collection</p>
    </div>
		<div class='input-goup'>
		<select class='form-control input-md' id='collection' name='collection'>
		<select> 
		</div>
		<div class='input-goup'>
			<button class='btn btn-primary form-control input-md' id='submit_delete_collection'>Submit</button>
		</div>
	</form>
      	</div>
      </div>
    </div>
      </div>
    </div>


{% endblock %}
{% block js %}
<script src="static/js/delete.js"></script>
{% endblock %}

