{% extends 'base.html' %}
{% set active_page = 'Edit/Delete Record' %}

{% block main %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 main" >

		<div class='row'>
            <div class="col-sm-6 col-md-offset-3">
				<div class="panel panel-default">
                    <div class='panel-body'>


	<div  class='form-horizontal'>
        <div class='input-goup'>
            <p class='lead'>Edit or Delete a Record</p>
        </div>
        <div class='input-goup'>
	    	<button class='btn btn-danger btn-md' id='submit_delete_record'>Delete Record <span id='currentFormulaNumber'></span></button>
        </div>
    </div>

	<form id='edit_record' class='form-horizontal'>
		<div class='input-goup'>
		<select class='form-control input-md' id='collection' name='collection'>
		<select> 
		</div>
		<div class='input-goup'>
		<select class='form-control input-md' id='formula_number' name='formula_number'>
		<select> 
		</div>
		<div class='input-goup'>
		<input name='category' id='category' type='text' class='form-control input-md' placeholder='Category'></input>
		</div>
		<div id='editSpace'>
		<div class='input-goup'>
		<input name='formulas' id='formulas' class='form-control input-md' placeholder='Formulas e.g. CU16<14, 6<B<9' type='text'></input>
		</div>
		<div class='input-goup'>
		<input name='Q' id='Q' type='text' class='form-control input-md' placeholder='Q'></input>
		</div>
		<div class='input-goup'>
		<input name='N' id='N' type='text' class='form-control input-md' placeholder='N'></input>
		</div>
		<div class='input-goup'>
		<input name='S' id='S' type='text' class='form-control input-md' placeholder='S'></input>
		</div>
		<div class='input-goup'>
		<input name='R' id='R' type='text' class='form-control input-md' placeholder='R'></input>
		</div>
		<div class='input-goup'>
		<input name='I' id='I' type='text' class='form-control input-md' placeholder='I'></input>
		</div>
		<div class='input-goup'>
		<input name='comments' id='comments' type='text' class='form-control input-md' placeholder='Comments'></input>
		</div>
		<div class='input-goup'>
			<button class='btn btn-primary form-control input-md' id='submit_edit_record'>Submit</button>
		</div>
		</div>
	</form>
      	</div>
      </div>
    </div>
    </div>
    </div>


{% endblock %}
{% block js %}
<script src="static/js/edit.js"></script>
{% endblock %}

