{% extends 'base.html' %}

{% block main %}


    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 main" >

		<div class='row'>
<br/>
<br/>
<br/>
            <div class="col-sm-6 col-md-offset-3">
				<div class="panel panel-default">
                    <div class='panel-body'>

	<form action='/change_excel' method='post' class='form-horizontal'>
       		<input type="text" class='form-control' name="excel" value="{{excel}}"/>
			<br>
     		  <input class='btn btn-success btn-sm' type="submit" value="Submit New Excel Path">
	</form>
      	</div>
      </div>
      	</div>
      </div>
    </div>


{% endblock %}
{% block js %}
{% endblock %}

