{% extends 'base.html' %}
{% set active_page = 'All Collections' %} 
{% block main %}

    <div class="container-fluid main">
      <div class="row">
			<div class='col-sm-12'>
				<div class="panel panel-default">
				   <div class="panel-body">
					    <select id='collection' name='collection' class='form-control'>
					    </select>
			        </div>
			    </div>
			</div>
		</div>
		<div class='row'>
				
			<div class='col-sm-12'>
				<div class="panel panel-default">
				   <div class="panel-body">
                    <label>Current Query</label>
					<span id='currentQuery'></span>
				   </div>
				</div>
				
			</div>
				
		</div>
		<div class='row'>
            <div class='col-md-12'>
				<div class="panel panel-default">
				   <div class="panel-body">
			<div class='col-sm-6'>
				    <div class="input-group input-group-sm">
				          <span class="input-group-btn">
						<button type="submit" id="submit_query" class="btn btn-primary btn-sm">Submit Query Manually</button>
				      </span>
					<input type="text" class="form-control input-sm" id="query"  placeholder="queries">
				    </div>
			</div>
			<div class='col-sm-6'>
				    <div class="input-group input-group-sm">
				          <span class="input-group-btn">
						<button type="submit" id="submit_search_formula_number" class="btn btn-warning btn-sm">Submit Search Formula Number</button>
				      </span>
					<input type="text" class="form-control input-sm" id="search_formula_number"  placeholder="Search by formula_number">
				    </div>
			</div>
		</div>
			</div>
				</div>
			</div>
        <div class='row'>
            <div class='col-md-12'>
				<div class="panel panel-default">
				   <div class="panel-body">
                          <div class='col-md-6'>
                                   <input class='form-control input-sm' id='search-text' placeholder='Search formulas/comments'></input>
                            </div>
            			<div class='col-sm-6'>
                            <input class='form-control input-sm' id='search-formula' placeholder='Search formulas'></input>
                        </div>
					<table class='table-responsive display' id='query_results'>
					</table>
				   </div>
				</div>
                </div>
            </div>
			</div>
			</div>
		</div>
        </div>
      </div>
    </div>



{% endblock %}
{% block js %}
<script src="static/js/index.js"></script>
{% endblock %}

