{% extends 'base.html' %}
{% block main %}

<div class='container-fluid'>

</div>
<div class='container-fluid'>
	<div class='row'>
		<div class='col-md-12'>
			<p>Past Queries </p>
			<hr>
			<table class='table display' id='past_queries'>
			</table>
	</div>
</div>


<script>
$(document).ready(function() {

	
	{#
	var el = document.getElementById("submit_query");
	el.addEventListener('click', function(e) {
	    e.preventDefault();
	    var val = document.getElementById("query").value;
	    query(val);
	});
	
	
	var el2 = document.getElementById("submit_add_record");
	el2.addEventListener('click', function(e) {
	    e.preventDefault();
	    var val = document.getElementById("add_record").value;
	    add(val);
	});
	
	var el3 = document.getElementById("submit_remove_record");
	el3.addEventListener('click', function(e) {
	    e.preventDefault();
	    var val = document.getElementById("remove_record").value;
	    remove(val);
	});

	var el4 = document.getElementById("submit_change_directory");
	el4.addEventListener('click', function(e) {
	    e.preventDefault();
	    var val = document.getElementById("change_directory").value;
	    change_directory(val);
	});
	#}

{#
	var el5 = document.getElementById("submit_upload_file");
	el5.addEventListener('click', function(e) {
	    e.preventDefault();
            $("#upload_file").click();
             $("input[name='file[]']").change(function() { 
		var fileInput = document.getElementById('upload_file').value;
		console.log(fileInput);
		var file = fileInput.files[0];
		var formData = new FormData();
		console.log(formData);
		formData.append('file', file);
	    	upload_file(formData);
	    });
	});
	
#}
	var query = function(val) {
		$.ajax({
		   url: "/api/query",
		   type: 'GET',
		   data: {'query': val}, 
		   complete: function(d){
			console.log(d);
			var res = JSON.parse(d.responseText)
			show_results(res['results'], 'query_results');
			show_query(val);
			get_directory();
		   },
	    });
	}
	
	function permanent(){
		$.ajax({
		   url: '/api/permanent',
		   type: 'get',
		   complete: function(d){
			console.log(d);
			show_results(JSON.parse(d.responseText)['results'], 'permanent');
		   },
	      });
	
	}
	
	
	function remove(id){
		$.ajax({
		   url: "/api/permanent",
		   type: 'POST',
		   dataType: 'json',
                   contentType: 'application/json; charset=utf-8',
		   data: JSON.stringify({'action': 'remove', 'record_ids': id}), 
		   complete: function(d){
			console.log(d);
			permanent();
		   },
	      });
	}
	
	
	function add(id){
		$.ajax({
		   url: "/api/permanent",
		   type: 'POST',
		   dataType: 'json',
                   contentType: 'application/json; charset=utf-8',
		   data: JSON.stringify({'record_ids': id, 'action': 'add'}), 
		   complete: function(d){
			console.log(d);
			permanent();
		   },
		});
       }

	function change_directory(directory){
 		console.log(directory);
		$.ajax({
		   url: "/api/directory",
		   type: 'POST',
		   dataType: 'json',
                   contentType: 'application/json; charset=utf-8',
		   data: JSON.stringify({'directory': directory}),
		   complete: function(d){
			console.log(d);
			get_directory();
			query();
			permanent();
		   },
		});
       }
      
        function upload_file(data){
		console.log(data);
	        $.ajax({
	            type: 'POST',
	            url: '/api/upload',
	            data: data,
	            contentType: false,
	            cache: false,
	            processData: false,
	            complete: function(data) {
	                console.log(data);
	            },
	        });

	}
	
	
	function show_results(data,id){
	    console.log('showing results..');
            console.log(data);
	
	    $('#' + id).DataTable({
		"bDestroy": true,
		processing: true,
		"lengthMenu": [ 1, 5, 10, 25, 50, 75, 100 ],
	    	data: data,
	    	columns: columns,
	    });
	}

    
        function get_directory(){
		$.ajax({
		   url: "/api/directory",
		   type: 'GET',
		   complete: function(d){
			console.log(d);
                        show_directory(JSON.parse(d.responseText)['directory'])
		   },
		});
	}

	function show_directory(val){
	    var q = document.getElementById("current_directory");
            q.innerHTML = val;
	}

    
        function show_query(val) {
	    if (val == undefined){
		val = 'All Records'
 	    }
	    var q = document.getElementById("current_query");
            q.innerHTML = val;
	}
	
	var columns = [
		{"data":"raw_record_ids[<br>]", "title": "Formula #"},
		{"data":"date", "title": "Date"},
		{"data":"Q[<br>]", "title": "Q"},
		{"data":"N[<br>]", "title": "N"},
		{"data":"S[<br>]", "title": "S"},
		{"data":"R[<br>]", "title": "R"},
		{"data":"I[<br>]", "title": "I"},
		{"data":"raw_formulas[<br>]", "title": "Formulas"},
		{"data":"signal" , "title": "Category"},
		{"data":"record_id", "title": "Record_id"}, 
	]

	permanent();
	query();
	get_directory();




});
</script>




{% endblock %}

