{% extends 'base.html' %}
{% set active_page = 'Permanent Collection' %}
{% block main %}

<div class='container-fluid'>

</div>
<div class='container-fluid'>
	<div class="row">
		<div class="col-sm-1 col-sm-1 sidebar">
			<h5>Permanent Snapshots</h5>
			<ul class="nav nav-sidebar" id='snapshots'>
			</ul>
		</div>
		<div class="col-sm-11 col-sm-offset-1 col-sm-11 col-sm-offset-1 main">

			<div class='row'>
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class='row'>
								<div class='col-sm-6'>
									<label style='color: black' class='small'>File: <span id='current_name'></span></label>
								</div>
								<div class='col-sm-6'>
									<label style='color: green' class='small'>Last Updated: <span id='last_saved'></span></label>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<div class="panel panel-default">
								<div class='panel-body'>
									<div class-'row'>
										<div class='col-sm-12'>
											<div class="input-group input-group-sm" style='margin-left: -25px'>
												<span class="input-group-btn">
													<button class='btn btn-primary btn-sm' id='submit_create_snapshot'>Save Permanent Snapshot</button>
												</span>
												<input type="text" class="form-control input-md" id="permanent_snapshot_name"  placeholder="Filename">
											</div>
										</div>
									</div>
									<div class='row'>
										<div class="col-sm-3">
											<div class='input-group'>
												<button type="submit" id="add-back" class="btn btn-default btn-sm">Add Snapshot to Current</button>
											</div>
										</div>
										<div class="col-sm-3">
											<div class='input-group'>
												<button type="submit" id="delete_permanent_records" class="btn btn-danger btn-sm inverse-red">Reset Current Permanent</button>
											</div>
										</div>
										<div class='col-sm-3'>
											<div class='input-group'>
												<button class='btn btn-danger btn-sm' id='delete-snapshot'>Delete this Snapshot</button>
											</div>  
										</div>
										<div class="col-sm-3">
											<div class='input-group'>
												<button type="submit" id="delete_permanent_snapshots" class="btn btn-warning btn-sm">Delete All Snapshots</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class='row' id='add-remove-space'>
						<div class="col-sm-12">
							<div class="panel panel-default">
								<div class="panel-body">
									<div class='row'>
										<div class="col-sm-6">
											<div class="input-group input-group-sm">
												<input type="text" class="form-control input-sm" id="remove_record"  placeholder="formula_number(s)">
												<span class="input-group-btn">
													<button type="submit" id="submit_remove_record" class="btn btn-danger btn-sm">Remove Record from Permanent</button>
												</span>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="input-group input-group-sm">
												<input type="text" class="form-control input-sm" id="add_record"  placeholder="formula_number(s)">
												<span class="input-group-btn">
													<button type="submit" id="submit_add_record" class="btn btn-success btn-sm">Add Record to Permanent</button>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class='row'>
						<div class="col-sm-12">
							<div class="panel panel-default">
								<div class="panel-body">
									<div class='row'>
										<div class='col-sm-6'>
											<input class='form-control input-sm' id='search-text' placeholder='Search formulas'></input>
										</div>
									</div>
									<div class='row'>
										<div class='col-sm-12'>
											<table class='table display' id='permanent'>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class='row'>
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class='col-sm-6'>
								<table class='table fixed'>
									<tr class='small'>
										<th>
											Current Records
										</th>
									</tr>
									<tr>
										<td id='currentRecords'></td>
									</tr>
								</table>
							</div>
							<div class='col-sm-6'>
								<table class='table fixed'>
									<tr class='small'>
										<th>
											Current Excluded
										</th>
									</tr>
									<tr>
										<td id='current_excluded'></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>




		{% endblock %}

		{% block js %}
		<script src="static/js/permanent.js"></script>
		{% endblock %} 

