{% extends 'base.html' %}
{% set active_page = 'Upload Collection' %}

{% block main %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 main" >

		<div class='row'>
<br/>
<br/>
<br/>
            <div class="col-sm-6 col-md-offset-3">
				<div class="panel panel-default">
                    <div class='panel-body'>
                      <p class='lead'>Upload a Collection</p>
	                 <form id='upload_file' class='form-horizontal'>
               <div class='input-group'>
            		<input type="file" name="file" id='file'>
               <div class='input-group'>
		        	<br>
               <div class='input-group'>
     		        <button id='upload_file_button' class='btn btn-success btn-sm'> Upload File to Become A Collection</button>
                </div>
	        </form>
        </div>
    </div>
</div>






{% endblock %}

{% block js %}
<script src="static/js/upload.js"></script>

{% endblock %}

