{% extends 'base.html' %}
{% set active_page = 'Working File' %}
{% block main %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1 col-sm-1 sidebar ">
      <ul class="nav nav-sidebar" id='working'>
      </ul>
    </div>
    <div class="col-sm-10 col-sm-offset-1 main">

      <div class='row'>
        <div class="col-sm-12">
          <div class="panel panel-default">
           <div class="panel-body">
            <div class='row'>
             <div class='col-sm-2'>
              <label class='small' style='color: black' >File Name: <span style='color: blue' id='currentWorkingFileName'></span></label>
            </div>
            <div class='col-sm-2'>
              <label class='small' style='color: black' >Queried: <span style='color: blue' id='currentCollection'></span></label>
            </div>
            <div class='col-sm-4'>
              <label class='small' style='color: black' >Last Saved: <span style='color:green' id='last_saved'></span></label>
            </div>
            <div class='col-sm-2'>
              <label style='color: black'  class='small'>Previous Viewed: <span style='color: blue' id='previous_spot'></span></label>
            </div>
            <div class='col-sm-2'>
              <a href='/' style='' ><span class='glyphicon glyphicon-refresh'></span></a>
            </div>
          </div>
          <div class='row'>
           <div class='col-sm-2'>
            <label style='color: black' class='small'>Merged Permanent: <span style='color:blue' id='currentWorkingMergePerm'></span></label>
          </div>
          <div class='col-sm-2'>
            <label style='color: black' class='small'>Merged Exclusions: <span style='color:blue' id='currentWorkingMergePermEx'></span></label>
          </div>
          <div class='col-sm-2'>
            <label style='color: black' class='small'>Total Records: <span style='color:blue' id='currentWorkingTotal'></span></label>
          </div>
          <div class='col-sm-2'>
            <label style='color: black' class='small'>Last Search: <span style='color:blue' id='currentWorkingSearch'></span></label>
          </div>
          <div class='col-sm-2'>
            <label style='color: black' class='small'>Last Filter: <span style='color:blue' id='currentWorkingFilter'></span></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class="col-sm-12">
    <div class="panel panel-default">
     <div class="panel-body">
      <div class='row'>
       <div class='col-sm-5'>
        <div class="input-group input-group-sm">
          <span class="input-group-btn">
            <label>To Be Queried</label>
          </span>
          <select id='collection' name='collection' class='form-control'>
          </select>
        </div>
      </div>
      <div class="col-sm-7">
         <div class='row'>
           <div class='col-sm-12'>
            <div class="input-group input-group-sm">
              <span class="input-group-btn">
                <button type="submit" id="submit_query" class="btn btn-primary btn-sm">Submit Manual Query</button>
              </span>
              <input type="text" class="form-control input-md" style='width:100%' id="query"  placeholder="queries">
            </div>
          </div>
        </div>
          <div class='row' style=''>
             <div class='col-sm-12'>
              <div class="input-group input-group-sm">
                <span class="input-group-btn">
                 <button class='btn btn-primary btn-sm' id='submit_excel_query' style='margin-right:10px'>Submit Excel Query</button>
               </span>
               <div style='padding-left:5px; height:40px; overflow:auto !important;'>
                <span style='white-space:nowrap'><a class='small' href='/change_excel' target='_blank'>path: {{excel}}</a></span>
              </div>
             </div>
      </div>
    </div>

    </div>
    <div class='row'>
      <div class='col-md-7'>

        <div class='row'>

          <div class='col-md-12'>
            <div class='row'>
             <div class='col-sm-3'>
              <div class="input-group input-group-sm">
                <span class="input-group-btn">
                  <button type="submit" id="add-back" class="btn btn-default btn-sm">Merge to WF</button>
                </span>
              </div>
            </div>

            <div class='col-sm-3'>
              <div class="input-group input-group-sm">
                <span class="input-group-btn">
                  <button  class='btn btn-default btn-sm inverse-red' style='margin-left:-15px' id='reset-current'>Reset Current WF</button>
                </span>
              </div>
            </div>

            <div class='col-sm-3'>
              <div class="input-group input-group-sm">
                <span class="input-group-btn">
                  <button class='btn btn-danger btn-sm' id='delete-working-file'>Delete this file</button>
                </span>
              </div>
            </div>

            <div class='col-sm-3'>
              <div class="input-group input-group-sm">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-sm " data-toggle="modal" data-target="#myModal">Popout View</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class='col-md-5'>
      <div class='row'>
            <div class='col-md-8 col-md-offset-4'>
             <div class="input-group input-group-sm">
                <span class="input-group-btn">
                  <label> Merge Exclusions</label>
                </span>
                <input type="checkbox" id='merge_permanent_exclusion'/> 
              </div>
            </div>
          </div>
          <div class='row'>

            <div class='col-md-8 col-md-offset-4'>
               <div class="input-group input-group-sm">
                <span class="input-group-btn">
                  <label> Merge Permanent</label>
                </span>
                <input type="checkbox" id='merge_permanent'/> 
              </div>
          </div>
        </div>
  </div>
</div>
</div>
</div></div>

</div>
</div>




<div class='row'>
 <div class='col-sm-12'>
  <div class="panel panel-default">
   <div class="panel-body">
    <div class='row'>
     <div class='col-sm-4'>
      <div class='input-group input-group-sm'>
        <input class='form-control input-sm search-text' placeholder='Search formulas'></input>
      </div>
            <br/>
            <div class='input-group'>
              <span class="input-group-btn">
                <button class='btn btn-success btn-sm submit_save_working'>Save File</button>
              </span>
              <input type="text" class="form-control input-md copyMe" id="working_file_name"  placeholder="Filename">
            </div>
    </div>
    <div class='col-sm-4'>
      <div class='input-group'>
        <select class='form-control input-sm cat-filter'>
          <option value=0>All Categories</option>
          <option value=1>Category 1 – LB</option>
          <option value=2>Category 2 - Buy</option>
          <option value=3>Category 3 - Sell</option>
          <option value=4>Category 4 - Volatility</option>
        </select>
      </div>
    </div>
  </div>
  <table class=' display ghetto query_results'>
  </table>
</div>
</div>
</div>
</div>

<div class='row'>
  <div class="col-sm-12">
    <div class="panel panel-default">
     <div class="panel-body">
      <br/>
      <div class='row'>

       <div class='col-sm-4'>
        <div class="input-group input-group-sm">
          <span class="input-group-btn">
            <button type="submit" id="submit_outside_record" class="btn btn-default btn-sm">Add Outside Record</button>
          </span>
          <input type="text" class="form-control input-md" id="outside_record"  placeholder="formula_number(s)">
        </div>
        <br/>
      </div>
      <div class='col-sm-4'>
        <div class="input-group input-group-sm">
          <span class="input-group-btn">
            <button type="submit" id="submit_exclude_record" class="btn btn-danger btn-sm">Exclude Record</button>
          </span>
          <input type="text" class="form-control input-md" id="exclude_record"  placeholder="formula_number(s)">
        </div>
      </div>
      <div class='col-sm-4'>
        <div class="input-group input-group-sm">
          <span class="input-group-btn">
            <button type="submit" id="submit_undo_exclude_record" class="btn btn-warning btn-sm">Undo Exclude Record</button>
          </span>
          <input type="text" class="form-control input-md" id="undo_exclude_record"  placeholder="formula_number(s)">
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
     <div class="panel-body">
      <div class="row">
        <div class="col-sm-2">
          <h5>Summaries</h5>
          <ul class="nav nav-sidebar summary-side" id='summaries'>
          </ul>
        </div>
        <div class="col-sm-10">
          <div class='row'>
           <div class='col-sm-2'>
            <select class='input-sm form-control' id='category'>
            </select>
          </div>
          <div class='col-sm-2' style='margin-right:25px'>
            <div class="input-group input-group-sm" >
              <span class="input-group-btn">
                <button class='btn btn-default btn-sm ' id='submit_generate_summary_only'>Generate Summary</button>
              </span>
            </div>
          </div>

          <div class='col-sm-4' >
            <div class="input-group input-group-sm" >
              <span class="input-group-btn">
                <button class='btn btn-success btn-sm' id='submit_generate_summary'>Generate/Save</button>
              </span>
              <input type="text" class="form-control input-md" id="summary_name"  placeholder="Filename">
            </div>
          </div>

          <div class='col-sm-1'>
            <div class="input-group input-group-sm">
              <span class="input-group-btn">
                <button class='btn btn-danger btn-sm' id='submit_delete_summary'>Delete</button>
              </span>
            </div>
          </div>

        </div>

        <div class='row'>
          <br/>
          <div class='col-sm-12 small'>
            <table class='table'>
              <tr>
                <th>Name</th><td><span id='sumTitle'></span></td>
                <th>Category</th><td><span id='sumCat'></span></td>
                <th>Working File</th><td> <span id='pulledFrom'></span></td>
                <th>Date</th> <td><span id='sumDate'></span></td>
                <th id='sumColl_label' style='display:none'>Collection</th><td><span id='sumColl'></span></td>
              </tr>
            </table>
          </div>
        </div>
        <div class='row'>
         <div class='col-sm-12'>
          <table class='table table-bordered' id='summary'>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<div class='row'>
  <div class="col-sm-12">
    <div class="panel panel-default">
     <div class="panel-body">
       <div class='col-sm-12'>
        <table class='table fixed'>
         <tr class='small'>
          <th>
            Current Query
          </th>
          <th>
            Excluded Records <span id='numberExcluded'></span>
          </th>
          <th>
            Outside Records
          </th>
          <th>
            Current Merged Files
          </th>
        </tr>
        <tr>
          <td style='overflow:auto' id='currentQuery'></td>
          <td id='currentExcluded'></td>
          <td id='currentOutside'></td>
          <td id='currentWorkingMerged'></td>
        </div>
      </div>
    </tr>
  </table>
</div>
</div>
<div class="col-sm-1 col-sm-1 sidebar2 ">
  <ul class="nav nav-sidebar" id='collectionShortcuts'>
  </ul>
</div>
</div>
</div>

<div class="row">
        <div class="col-sm-12 main" >

    <div class='row'>
            <div class="col-sm-8 col-md-offset-2">
        <div class="panel panel-default">
                    <div class='panel-body'>

                      <form class='form-horizontal' id='export_csv'>
                        <div class='input-goup'>
                              <input type="text" class='form-control' placeholder='Full Directory' name="directory" value="{{csv_export_path}}" />
                        </div>
                        <div class='input-goup'>
                              <button class='btn btn-success btn-sm' id="submit_export_csv">Export CSV of Working File</button>
                        </div>
                           
                      </form>
                </div>
                    </div>
            </div>
        </div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <br/>
      </div>
      <div class="modal-body">
        <div class='row'>
         <div class='col-sm-4'>
          <div class='input-group input-group-sm'>
            <input class='form-control input-sm search-text' placeholder='Search formulas'></input>
          </div>
                <br/>
                <div class='input-group'>
              <span class="input-group-btn">
                <button class='btn btn-success btn-sm submit_save_working'>Save File</button>
              </span>
              <input type="text" class="form-control input-md copyMe" placeholder="Filename">
            </div>
        </div>
        <div class='col-sm-4'>
          <div class='input-group'>
            <select class='form-control input-sm cat-filter'>
              <option value=0>All Categories</option>
              <option value=1>Category 1 – LB</option>
              <option value=2>Category 2 - Buy</option>
              <option value=3>Category 3 - Sell</option>
              <option value=4>Category 4 - Volatility</option>
            </select>
          </div>
        </div>
      </div>
      <table class=' display ghetto query_results second'>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>



</div>


<div class="modal fade" tabindex="-1" role="dialog" id='sleep' style='width:250px;margin:auto;height:250px;opacity:.75'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">

        <br/>
        <br/>
        <span style='font-size:50px' class='glyphicon glyphicon-hourglass'></span>
        <br/>
        <br/>
        <button type="button" class="btn btn-default" data-dismiss="modal" id='resume'>Resume</button>
      </div>

    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock %}
{% block js %}
<script src="static/js/working.js"></script>
<script src="static/js/summary.js"></script>
{% endblock %}

